body {
  margin: 0;
background: linear-gradient(90deg, #f6d7ff, #e3f2fd);

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 900px; 
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-left: purple 3px solid;
  border-bottom:  purple 3px solid;
}
.container:hover{
  box-shadow: 0 15px 30px rgb(228, 156, 228);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-box input,
.form-box select {
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s ease;
}

.form-box input:focus,
.form-box select:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.4);
}

.form-box select {
  cursor: pointer;
}

.form-box button {
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  background:  purple ;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-box button:hover {
  background: #574fd6;
  transform: scale(1.02);
}

.form-box button:active {
  transform: scale(0.98);
}

@media (max-width: 480px) {
  .container {
    margin: 15px;
    padding: 20px;
  }
}
